<?xml version="1.0"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>-->
  <configSections>
  </configSections>
  <appSettings>
    <add key="carpetaOrigenLocal" value="C:\FilesCSV\"/>
    <add key="carpetaDestinoLocal" value="C:\FilesCSV\pasadas\"/>
    <add key="carpetaOrigenServerGSP" value="N:\Data\EXT\ExportsGSP\SG\"/>
    <add key="carpetaDestinoServerGSP" value="N:\Data\EXT\ExportsGSP\SG\Ingresadas\"/>
    <add key="GSP1_carpetaOrigen" value="C:\FilesCSV\GSP1\"/>
    <add key="GSP1_carpetaDestino" value="C:\FilesCSV\GSP1\BackUp\"/>
    <add key="GSP2_carpetaOrigenLocal" value="C:\FilesCSV\GSP2\"/>
    <add key="GSP2_carpetaDestinoLocal" value="C:\FilesCSV\GSP2\BackUp\"/>
    <add key="IRT" value="FIBROSIS QUISTICA"/>
    <add key="NTSH" value="HIPOTIROIDISMO CONGENITO"/>
    <add key="PHE" value="FENILCETONURIA"/>
    <add key="17OHP" value="HIPERPLASIA SUPRARENAL"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="DBEssalud" connectionString="Data Source=WIN7-PC\SQLEXPRESS2012;Initial Catalog=DBEssalud;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LifeCycle" connectionString="Data Source=WIN7-PC;Initial Catalog=LifeCycle;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WAssay" connectionString="Data Source=WIN7-PC;Initial Catalog=WAssay;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
