<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BE.Properties.Settings.TamizajeDBConnectionString"
            connectionString="Data Source=WIN-8QO6SORRF20\MSSQL2012EXPRESS;Initial Catalog=TamizajeDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.TamizajeDB_Beta1_0ConnectionString"
            connectionString="Data Source=WIN-8QO6SORRF20\MSSQL2012EXPRESS;Initial Catalog=TamizajeDB_Beta1.0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.TamizajeDB_Beta1_0ConnectionString1"
            connectionString="Data Source=LENOVO-PC;Initial Catalog=TamizajeDB_Beta1.0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.TamizajeDB_Beta1_0ConnectionString2"
            connectionString="Data Source=PV-CESAR\MSSQL2012;Initial Catalog=TamizajeDB_Beta1.0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.TamizajeDB_QuickConnectionString"
            connectionString="Data Source=PV-CESAR\MSSQL2012;Initial Catalog=TamizajeDB_Quick;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.DBEssaludConnectionString"
            connectionString="Data Source=PV-CESAR\MSSQL2012;Initial Catalog=DBEssalud;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.DBEssaludConnectionString1"
            connectionString="Data Source=WIN7-PC\SQLEXPRESS2012;Initial Catalog=DBEssalud;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.TamiLifeSAConnectionString"
            connectionString="Data Source=WIN7-PC\SQLEXPRESS2012;Initial Catalog=TamiLifeSA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.TamiLifeSAConnectionString1"
            connectionString="Data Source=DESKTOP-HCUKI4I\SQLEXPRESS2012;Initial Catalog=TamiLifeSA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.TamiLifeSAConnectionString2"
            connectionString="Data Source=MAYRALAPTOP\SQLEXPRESS2012;Initial Catalog=TamiLifeSA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BE.Properties.Settings.TamiLifeINMPConnectionString"
            connectionString="Data Source=WIN7-PC\SQLEXPRESS2012;Initial Catalog=TamiLifeINMP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
